@import "vars";

html {
	font-size: 15px;
}
body {
	color: @black;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
}
*, *:before, *:after {
	box-sizing: border-box;
}

// blocks
@import "blocks/intro";
@import "blocks/container";